{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if publicacion.fecha_publicacion %}
            <div class="date">
                {{ publicacion.fecha_publicacion }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'publicacion_editar' pk=publicacion.pk %}"><span class="fa fa-pencil"></span></a>
        {% endif %}
        <h2>{{ publicacion.titulo }}</h2>
        <p>{{ publicacion.texto|linebreaksbr }}</p>
    </div>
{% endblock %}
